@charset "utf-8";
/* CSS Document */

body
{
	margin: auto;
}

/*div
{
	border: 1px solid black;
	box-sizing: border-box;
}*/

.container {
    width: 60%;
    margin: auto;
    text-align: center;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#menu
{
	font-family: "Roboto Medium";
	width: 100%;
	height: 50px;
	font-size: 13px;
	background-color: black;
	color: white;
	float: left;
	z-index: 1;
}

#menu0
{
	width: 70%;
	box-sizing: border-box;
	float: left;
	align-content: center;
}

#logo
{
	width: 170px;;
	float: left;
}

#logo img
{
	width: 150px;
	padding-top: 4px;
	padding-left: 20%;
}

#menu0 div
{
	height: 30px;
	float: left;
	padding-left: 5%;
	padding-top: 15px;
	transition: all 0.4s;
	cursor: pointer;
}
#menu1:hover{color: #e7008a}
#menu2:hover{color: #e7008a}
#menu3:hover{color: #e7008a}
#menu4:hover{color: #e7008a}
#menu5:hover{color: #e7008a}
#fb:hover{background-image: url(image/facebook.png)}
#tt:hover{background-image: url(image/twitter.png)}
#yt:hover{background-image: url(image/youtube.png)}
#ig:hover{background-image: url(image/instagram.png)}
#next:hover{background-image: url(image/down.png); top:61%;}
#pre:hover{background-image: url(image/top.png); top:14%;}

#fb
{
	background-image: url(image/facebook-o.png);
	background-size: contain;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 2%;
	top: 0%;
	z-index: 1;
	cursor: pointer;
	transition: all 0.4s;
}

#tt
{
	background-image: url(image/twitter-o.png);
	background-size: contain;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 2%;
	top: 30%;
	z-index: 1;
	cursor: pointer;
	transition: all 0.4s;
}

#yt
{
	background-image: url(image/youtube-o.png);
	background-size: contain;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 2%;
	top: 60%;
	z-index: 1;
	cursor: pointer;
	transition: all 0.4s;
}

#ig
{
	background-image: url(image/instagram-o.png);
	background-size: contain;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 2%;
	top: 90%;
	z-index: 1;
	cursor: pointer;
	transition: all 0.4s;
}

#next
{
	background-image: url(image/down-o.png);
	background-size: contain;
	width: 25px;
	height: 25px;
	position: absolute;
	right: 2%;
	top: 60%;
	z-index: 1;
	cursor: pointer;
	transition: all 0.4s;
}

#pre
{
	background-image: url(image/top-o.png);
	background-size: contain;
	width: 25px;
	height: 25px;
	position: absolute;
	right: 2%;
	top: 15%;
	z-index: 1;
	cursor: pointer;
	transition: all 0.4s;
}

#slider1
{
	background-image: url(image/reputation.jpg);
	width: 100%;
	height: inherit;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top:0px;
	;
}

#slider2
{
	background-image: url(image/witness.jpg);
	width: 100%;
	height: 700px;
	background-size: contain;
	background-repeat: no-repeat;
	float: left;
	position: absolute;
	top:700px;
}

#slider3
{
	background-image: url(image/wolves.jpg);
	width: 100%;
	height: 700px;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top:1400px;
}


#slide
{
	width: 100%;
	height: 600px;
	position: relative;
	overflow: hidden;
	z-index: 0;
	margin-top: 0px;

}

#slidein
{
	width: 100%;
	height: 2100px;
	position: relative;
	transition: all 1s;
	cursor: pointer;
}
#socialmedia
{
	width: 20%;
	height: 300px;
	position: absolute;
	left: 2%;
	top: 15%;
	z-index: 1;
}

#artis
{
	background-color: aqua;
	width: 100%;
	height: 400px;
	position: relative;
}

#footer
{
	width: 100%;
	height: 350px;
	float: left;
	font-family: roboto medium;
	background-color: black;
}

#phoneMail
{
	width: 30%;
	height: 300px;
	float: left;
	color: white;
	font-family: roboto thin;
	font-size: 12px;
	padding-left: 5%;
	box-sizing: border-box;
	padding-top: 15px;
}

#addressMap
{
	width: 30%;
	height: 300px;
	float: left;
	color: white;
	font-family: roboto thin;
	font-size: 12px;
	padding-left: 5%;
	box-sizing: border-box;
	padding-top: 15px;
}

#downSocial
{
	width: 40%;
	height: 300px;
	float: left;
}

#download
{
	width: 100%;
	height: 120px;
	float: left;
}

#social
{
	width: 100%;
	height: 150px;
	float: left;
}

#lience
{
	width: 100%;
	height: 50px;
	background-color: #e7008a;
	float: left;
	font-family: roboto medium;
	font-size: 12px;
	padding-top: 8px;
	box-sizing: border-box;
	padding-left: 5%;
}

#lience1
{
	width: 50%;
	height: 40px;
	float: left;
}

#lience2
{
	width: 50%;
	height: 40px;
	float: left;
	text-align: right;
	padding-right: 5%;
	box-sizing: border-box;
}

.medium
{
	color: white;
	font-size: 12px;
	font-family: roboto medium;
}

.phone
{
	color: #e7008a;
	font-size: 15px;
}

.viewMap
{
	color: white;
}

.viewMap:hover{color: #e7008a}

#googlePlay
{
	width: 40%;
	height: 100px;
	background-image: url(icon/googleplayoff.png);
	background-repeat: no-repeat;
	background-size: contain;
	box-sizing: border-box;
	margin-top: 40px;
	float: left;
	cursor: pointer;
	transition: all 0.4s;
	margin-left: -20px;
}

#appStore
{
	width: 40%;
	height: 100px;
	background-image: url(icon/appstoreoff.png);
	background-repeat: no-repeat;
	background-size: contain;
	box-sizing: border-box;
	margin-top: 40px;
	float: left;
	cursor: pointer;
	transition: all 0.4s;
	margin-left: -20px;
}

#googlePlay:hover{background-image: url(icon/googleplayon.png)}
#appStore:hover{background-image: url(icon/appstoreon.png)}


#media
{
	width: 100%;
	height: 100px;
}

#fbi
{
	background-image: url(icon/facebookwhite.png);
	background-size: contain;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: all 0.2s;
	float: left;
	margin-left: 15%;
	box-sizing: border-box;
}

#isi
{
	background-image: url(icon/instagramwhite.png);
	background-size: contain;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: all 0.2s;
	float: left;
	margin-left: 30px;
	box-sizing: border-box;
}

#yti
{
	background-image: url(icon/youtubewhite.png);
	background-size: contain;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: all 0.2s;
	float: left;
	margin-left: 30px;
	box-sizing: border-box;
}

#twi
{
	background-image: url(icon/twitterwhite.png);
	background-size: contain;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: all 0.2s;
	float: left;
	margin-left: 30px;
	box-sizing: border-box;
}

#fbi:hover{background-image: url(icon/facebook.png)}
#isi:hover{background-image: url(icon/instagram.png)}
#yti:hover{background-image: url(icon/youtube.png)}
#twi:hover{background-image: url(icon/twitter.png)}


#ads
{
	width: 100%;
	height: 950px;
	position: absolute;
	top: 0px;
	transition: all 0.5s
}

#background

{
	width: 100%;
	height: 950px;
	position: absolute;
	top: 0px;
	opacity: 0.85;
	background-color: black;
	z-index: 0;
}

#banner
{
	width: 500px;
	height: 500px;
	position: absolute;
	background-image: url(image/ads.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	top: 10%;
	left: 30%;
	z-index: 3;
}

#exitAds
{
	width: 40px;
	height: 40px;
	position: absolute;
	color: white;
	z-index: 4;
	font-family: roboto black;
	font-size: 30px;
	top: 9%;
	left: 80%;
	cursor: pointer;
	transition: all 0.2s;
}

#exitAds:hover{color: #e7008a; transform: rotateX(180deg);}

.symbol
{
	font-family: FontAwesome;
}
